<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postify | Create Post</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <nav>
        <div>
           <img src="/images/logo.png" class="logo" alt="logo"> 
           <ul >
                <li><a href="/">Home</a></li>
                <li><a href="/posts">Posts</a></li>
            </ul>
        </div>
    </nav>
    <div class="main-home">
        <form class="create-input" id="createForm">
            <input type="text" id="title" required placeholder="Enter Title Of Post" />
            <textarea id="description" required placeholder="Enter Description Of Post"></textarea>
            <button type="submit" class="create-btn" style="width: 30%; margin-top: 50px;">Create Post</button>
        </form>
    </div>
   
</body>
</html>
