* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


nav {
    padding: 5px 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
}

nav >div {
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
}

nav >div img{
    width: fit-content;
}


nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    flex: 1;
    justify-content: center;
    gap:30px;
}



nav ul li a{
    font-family: "Bebas Neue", cursive;
    font-size: 1.2rem;
    text-decoration: none;
}

.logo {
    width: 110px;
}

.head-home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    padding-inline: 24px;
    margin-top: 30px;
}

.head-home h1 {
    font-family: "Bebas Neue", cursive;
    font-size: 2rem;
    position: relative;
}


  .head-home h1:after {
    width: 60px;
    height: 2px;
    display: block;
    content: "";
    position: relative;
    margin-top: 10px;

    background-color: #b80000;
  }
  

.create-btn {
    padding: 10px 20px;
    background-color: green;
    outline: none;
    border-radius: 25px;
    border: none;
    font-family: "Bebas Neue", cursive;
    font-size: 1.1rem; 
    color: white;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}

.create-btn:hover {
    background-color: rgba(0, 128, 0, 0.722);
    color: rgb(255, 255, 255);

}

.articles {
    margin-top: 50px;
    display: grid;
    width: 95%;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
}

article {
    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    transition: all 0.4s ease-in-out;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

article:hover {
    transform: scale(1.1);
}

.footer-card {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}

.footer-card button {
    background:none;
    padding: 0;
    cursor: pointer;
    border: none;
}

.footer-card > div {
    display: flex;
    align-items: center;
    gap:4px;
}

article a::after {
    content: none;
}

article h2 {
    margin: 0 0 18px 0;
    font-family: "Bebas Neue", cursive;
    font-size: 1.5rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
}

article .head-artical {
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: space-between;
    margin-bottom: 18px;

}

article .create-at {
    font-family: "Bebas Neue", cursive;
    font-size: 0.8rem;
    letter-spacing: 0.06em;
    color: gray;
    transition: color 0.3s ease-out;

}

.head-artical a {
    font-family: "Bebas Neue", cursive;
    font-size: 1rem;
    letter-spacing: 0.06em;
    color: gray;
    transition: color 0.3s ease-out;
}

article .user-icon {
    width: 18px;
}

article p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.1rem;
    letter-spacing: 0.06em;
    color: gray;
    transition: color 0.3s ease-out;
}

.article-body {
    padding: 24px;
}



article a, .read-more {
    pointer-events: auto;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #28666e;
}

.read-more {
    margin-top: 20px;
    font-size: 18px;
}



.main-home {
    background-image: radial-gradient( circle farthest-corner at 48.4% 47.5%,  rgba(122,183,255,1) 0%, rgba(21,83,161,1) 90% );
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 655px;
}



.main-home  h1 {
    font-family: "Bebas Neue", cursive;
    font-size: 3rem;
    margin-bottom: 30px;
}

#show-posts {
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: white;
    color: #4b5ae4;
    font-family: "Bebas Neue", cursive;
    font-size: 1.5rem;
    transition: 0.3s;
    
}

#show-posts:hover {
    color: white;
    background-color: #4b5ae4;
}

.create-input input,button {
    display: block;
    margin: 20px 0;
}

.create-input input,textarea {
    border-radius: 30px;
    width: 80%;
    padding: 15px 20px;
    outline: none;
    font-family: "Bebas Neue", cursive;
    font-size: 1.1rem;
    border: none;
    resize: none;

}

.main-home {
    width: 100%;
}

.create-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}






















